@font-face {
    font-family: greatVibes;
    src: url(./fonts/greatVibes/GreatVibes-Regular.otf);
}

@font-face {
    font-family: ralewayBold;
    src: url(./fonts/raleway/Raleway-Bold.ttf);
}

* {
    font-family: ralewayBold;
}

.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.orgImageHolder {
    height: 120px;
}

.orgImageHolder img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.orgImageHolder img.disabled {
    opacity: .2;
}

.searchButton {
    background: rgb(157, 34, 42);
    color: #FFF;
    text-transform: uppercase;
    font-size: 20px;
    border: none;
    height: 40px;
    margin-top: 25px;
}

.searchForm {
    background: #EEE;
    margin-top: 50px;
    padding: 150px 20px 30px;
    margin-bottom: 100px;
}

.searchPageHeader {
    font-family: greatVibes;
    text-align: center;
    font-size: 56px;
    color: rgb(157, 34, 42);
    text-shadow: 1px 1.732px 0px rgba(255, 255, 255, 0.004);
}
