.selectBox_mf_demo {

}

.selectBox_mf_demo .icon {
    color: rgb(41, 36, 27);
    float: right;
    padding-right: 10px;
}

.selectBox_mf_demo .optionContainer {
    background: rgb(227, 220, 221);
    color: rgb(67, 7, 0);
    position: absolute;
    text-transform: uppercase;
    width: 100%;
    z-index: 100;
}

.selectBox_mf_demo .option {
    border-bottom: 1px solid rgba(41, 36, 27, .25);
    cursor: pointer;
    padding-left: 25px;
    width: 100%;
}

.selectBox_mf_demo .option:hover {
    background: rgba(0, 0, 0, .1);
}

.selectBox_mf_demo .option:last-child {
    border-bottom: none;
}

.selectBox_mf_demo .padded {
    padding-top: 10px;
    padding-bottom: 10px;
}

.selectBox_mf_demo .selectedOption{
    background: #FFF;
    color: rgb(209, 215, 185);
    cursor: pointer;
    padding-left: 10px;
    text-transform: uppercase;
    width: 100%;
}
